.start-test-button,
.end-test-button {
  display: flex;
  justify-content: center;
}

.end-test-button {
  margin-top: 20px;
}

.info-block {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-block p {
  margin: 0;
}

.info-block .name-input {
  position: relative;
  right: 65px;
  width: 200px;
}

.test-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.test-question {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-content-vert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-content-hor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-text-hor {
  margin-bottom: 50px;
  max-width: 200px;
}

.question-text,
.question-picture {
  margin-bottom: 50px;
}

.question-interrogation,
.question-answer-variant:last-of-type {
  margin-bottom: 20px;
}
